h1 a, h2 a {
    color: #1f9fa3;
    font-family: 'Lobster';
}
 
body {      
    padding-left: 15px;
    background-color: rgb(245, 195, 240);
}

.page-header {   
    background-color: rgb(160, 91, 148);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #f8f5f5;
    font-size: 36pt;
    text-decoration: none;
}

.content {  
    margin-left: 40px;
    background-color: rgb(255, 255, 255);   
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: rgb(160, 91, 148);
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    color: rgb(46, 2, 36);
}

.post h2 a, .post h2 a:visited {
    color: #3f294d;
}